{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
         <div class="col">
             <h4>{% translate 'Information about site Hikingapp' %}</h4>
                <p> </p>
                <p>{% blocktranslate %}
                    <p>Dear friend.</p>
                     <p>Welcome to the pages of the website hikingapp.ru</p>
                     <p>This web application is created for people who actively spend their free time or strive to do so.</p>
                     <p>If you go on trips, go hiking or just for walks, and also want to share your impressions
                         - then this site is for you!</p>
                     <p>After registration on the site, you will be able to create, edit and delete your trips.</p>
                     <p>Adding tags. Access to your personal account.</p>
                     <p>Authorization via GitHub is also currently available.</p>
                     <p>For your convenience, the site is available in Russian and English.</p>
                     <p>All questions, wishes and suggestions are accepted by email info@hikingapp.ru.</p>
                    {% endblocktranslate %}</p>
                <p> </p>
         </div>
    </div>
</div>

{% endblock %}
