{% extends 'base.html' %}

{% block content %}
{% load thumbnail %}

{% for t in trips %}
<div class="container">
    <div class="row">
        <div class="col text-center">
             {% if t.title_photo %}
                <p><img src="{{ t.title_photo|thumbnail_url:'title_photo' }}" alt=""></p>
             {% else %}
                <p><img src="media/photos/default_photo_for_index_new.jpg"></p>
             {% endif %}
        </div>
        <div class="col">
            <p class="link-read-post"><a href="{{ t.get_absolute_url }}"><h5> {{ t.title }}</h5></a></p>
            <p> Category: {{t.category}} | Date: {{t.date}} </p>
            <a>Author: <a class="link-read-post"><a href="{% url 'users:user_trips' t.user %}"> {{t.user}}</a>
            <p>{{t.content|linebreaks|truncatewords:40}}</p>

            Tags:
            {% for i in t.tag.all %}
                {% if i.tag %}
                <a class="link-read-post"><a href="{{ i.get_absolute_url }}">{{ i.tag }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block navigation %}

<nav aria-label="nav">
    <ul class="pagination justify-content-center">
{% if page_obj.has_other_pages %}


		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
		</li>
		{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-item active">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
		</li>
		{% endif %}

    </ul>
</nav>
{% endif %}

{% endblock %}