{% extends 'base.html' %}

{% block content %}

{% for t in trips %}

    <p class="link-read-post"><a href="{{ t.get_absolute_url }}"><h5> {{ t.title }}</h5></a></p>
    <p>Slug: {{t.slug}}</p>
    <p>Category: {{t.category}}</p>
    <p>Content: {{t.content}}</p>
    {% if t.title_photo %}
            <p><img src="{{ t.title_photo.url }}" class="img" width="480" height="330"></p>
    <p>________________________________________________________________________</p>
    <p></p>
    <p></p>
    {% endif %}
{% endfor %}

{% endblock %}