{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/trip/images/terms/terms_of_use_1.jpg">
            <img src="/static/trip/images/terms/terms_of_use_2.jpg">
            <img src="/static/trip/images/terms/terms_of_use_3.jpg">
            <img src="/static/trip/images/terms/terms_of_use_4.jpg">
            <img src="/static/trip/images/terms/terms_of_use_5.jpg">
            <img src="/static/trip/images/terms/terms_of_use_6.jpg">
            <img src="/static/trip/images/terms/terms_of_use_7.jpg">
        </div>
    </div>
</div>


{% endblock %}