{% extends 'base.html' %}

{% block breadcrumbs %}
    <p>____________________</p>
    <p><a href="{% url 'edit' trip.slug %}">Edit Trip</a> | <a href="{% url 'delete' trip.slug %}">Delete Trip</a> </p>
{% endblock %}

{% block content %}
{% load thumbnail %}
    <p>____________________</p>
    <h2>{{ trip.title }}</h2>
    <p>Category: {{ trip.category }} | Date: {{ trip.date }}</p>
    <p>Slug: {{trip.slug}}</p>
    <p>Content: {{trip.content}}</p>
    {% for t in trip.tag.all %}
        {% if t.tag %}
            <a class="link-read-post"><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a>
    {% endif %}
    {% endfor %}
    <p>____________________</p>

    {% if trip.title_photo %}
            <p><img src="{{ trip.title_photo|thumbnail_url:'title_photo_into_trip' }}" alt=""></p>
<!--            <p><img class="img-article-left thumb" src="{{ trip.title_photo.url }}" class="img" width="480" height="330"></p>-->
    {% endif %}

    {% for i in trip.imagesss.all %}
    {% if i.image %}
        <img src="{{ i.image|thumbnail_url:'image' }}" alt="">
<!--        <img class="img-article" src="{{ i.image.url }}" class="img" width="240" height="165">-->
    {% endif %}
    {% endfor %}
    <p></p>
    <p></p>
    <p></p>
    <p>____________________</p>

{% endblock %}
