{% extends 'base.html' %}

{% block breadcrumbs %}

<div class="container text">
    <div class="row">
        <div class="col">
    <p><a href="{% url 'edit' trip.slug %}"
          class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Edit Trip</a>
        | <a href="{% url 'delete' trip.slug %}"
         class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete Trip</a> </p>
        </div>
    </div>
</div>
            {% endblock %}

{% block content %}
{% load thumbnail %}
<div class="container ">
    <div class="row">
        <div class="col text-center">
            {% if trip.title_photo %}
            <p><img src="{{ trip.title_photo|thumbnail_url:'title_photo_into_trip' }}" alt=""></p>
            {% endif %}
        </div>
            <div class="col">
            <h2>{{ trip.title }}</h2>
            <p>Category: {{ trip.category }} | Date: {{ trip.date }}</p>

                    {% if trip.user.avatar %}
                        <p><img src="{{ trip.user.avatar|thumbnail_url:'icon' }}" alt=""> Author: <a class="link-read-post"><a
                                href="{% url 'users:user_trips' trip.user %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> {{trip.user}}</a>
                    {% else %}
                        Author: <a class="link-read-post"><a href="{% url 'users:user_trips' trip.user %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> {{trip.user}}</a>
                    {% endif %}
        <!--    <p>Slug: {{trip.slug}}</p>-->
            <p>Description: {{trip.content}}</p>

                    {% for t in trip.tag.all %}
                        {% if t.tag %}
                            <a class="link-read-post"><a href="{{ t.get_absolute_url }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ t.tag }}</a>
                        {% endif %}
                    {% endfor %}
            </div>
    </div>
</div>




<div class="container text-center">
    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
            {% for img in trip.imagesss.all %}
            {% with forloop.counter0 as i %}
            <div class="carousel-item {% if i is 0 %}active{% endif %}">
                <img src="{{ img.image|thumbnail_url:'image'}}">
            </div>
            {% endwith %}
            {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</div>

{% endblock %}
