{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
         <div class="col">
             <h4>{% translate 'Tags' %}</h4>
             <p> </p>
                 <form action="{% url 'tag:add_tag' %}" method="get">
                     <button type="submit" class="btn btn-success">{% translate 'Add tag' %}</button>
                 </form>
             <p> </p>
                {% for t in tags %}
                <form action="{{t.get_absolute_url}}" method="get">
                    <p><button type="submit" class="btn btn-outline-dark">{{ t.tag }}</button></p>
                </form>
             <p> </p>
                {% endfor %}
         </div>
    </div>
</div>

{% endblock %}
