.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width:200px;
    vertical-align: top;
}

.pagination > li > a
{
    background-color: white;
    color: #2C632C;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #3A833A;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #3A833A !Important;
    border: solid 1px #3A833A !Important;
}

.pagination > .active > a:hover
{
    background-color: #3A833A !Important;
    border: solid 1px #3A833A;
}

.btn-success {
    background-color: #3A833A !Important;
}


.link-read-post {
    color: #3A833A;
}

.nav-link active {
    color: #3A833A !Important;
}

.page-link {
    color: #2C632C !Important;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

dropdown-item:hover {
    background-color: #3A833A !Important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #3A833A !Important;
}