body {
        background: #d8e8e1
      }
html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 150%;
	width: 150%;
	color: #444;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 120px;
    vertical-align: top;
}

.pagination > li > a
{
    background-color: white;
    color: #2C632C;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #2C632C;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #2C632C !Important;
    border: solid 1px #2C632C !Important;
}

.pagination > .active > a:hover
{
    background-color: #2C632C !Important;
    border: solid 1px #2C632C;
}

.btn-success {
    background-color: #2C632C !Important;
}


.link-read-post {
    color: #2C632C !Important;
}

.nav-link active {
    color: #2C632C !Important;
}

.page-link {
    color: #2C632C !Important;
}