{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<div class="container">
    <div class="row">
         <div class="col">
             <h4>{% translate 'Authorization' %}</h4>
             <p> </p>
                <form method="post">
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="form-label">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <p><a href="{% url 'users:password_reset' %}"
                          class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {% translate 'Forgot your password?' %}</a></p>
                    <p><button type="submit" class="btn btn-success">{% translate 'Enter' %}</button></p>
                </form>
             <p> </p>
         </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
<!--            <p><a href='{% url "social:begin" "vk-oauth2" %}'>Sign in with VK</a></p>-->
<!--            <p><a href='{% url "social:begin" "google-oauth2" %}'>Sign in with Google</a></p>-->
            <p><a href='{% url "social:begin" "github" %}'
                  class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                {% translate 'Sign in with GitHub' %}</a></p>
        </div>
    </div>
</div>

{% endblock %}
