{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
         <div class="col">
             <h4>Authorization</h4>
                <form method="post">
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="col-auto">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
                    <p><button type="submit" class="btn btn-success">Enter</button></p>
                </form>
         </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p><a href='{% url "social:begin" "vk-oauth2" %}'>Sign in with VK</a></p>
            <p><a href='{% url "social:begin" "google" %}'>Sign in with Google</a></p>
            <p><a href='{% url "social:begin" "github" %}'>Sign in with GitHub</a></p>
        </div>
    </div>
</div>

{% endblock %}
