{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
         <div class="col">
             <h4>{% translate 'Password successfully changed' %}</h4>
             <p> </p>
                <p>{% blocktranslate %}Reset password change is successful. Use new password for {% endblocktranslate %}
                    <a href="{% url 'users:login' %}">{% translate 'enter in a system.' %}</a> </p>
             <p> </p>
         </div>
    </div>
</div>

{% endblock %}
