{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
         <div class="col">
             <h4>{% translate 'Password successfully changed' %}</h4>
             <p> </p>
                <p>{% blocktranslate %}You have successfully changed your password.{% endblocktranslate %}
                    <a href="{% url 'users:profile' %}">{% translate 'Go to Profile.' %}</a></p>
             <p> </p>
         </div>
    </div>
</div>

{% endblock %}
