{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
         <div class="col">
             <h4>{% translate 'Change password' %}</h4>
             <p> </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="form-label">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <p><button type="submit" class="btn btn-success">{% translate 'Change password' %}</button> </p>
                </form>
             <p> </p>
         </div>
    </div>
</div>

{% endblock %}
