{% extends 'base.html' %}

{% block content %}

    <p>Name: {{user.username}}</p>

    <p>____________________</p>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.avatar %}
    <p><img class="img-article" src="{{ user.avatar.url }}" class="img" width="150" height="220"</p>
    {% endif %}

    {% for f in form %}
    <p><label class="form-label" for="{{f.id_for_label}}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Save</button> </p>
    </form>

    <p></p>
    <p></p>
    <p></p>
    <p>____________________</p>
    <p><a href="{% url 'users:password_change' %}">Change password</a></p>

{% endblock %}