{% extends 'base.html' %}

{% block content %}

    <p>Name: {{user.username}}</p>

    <p>____________________</p>

    {% if user.title_photo %}
            <p><img class="img-article" src="{{ user.title_photo.url }}" class="img" width="480" height="330"></p>
    {% endif %}
    {% for f in form %}
    <p><label class="form-label" for="{{f.id_for_label}}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Сохранить</button> </p>
    </form>

    <p></p>
    <p></p>
    <p></p>
    <p>____________________</p>

{% endblock %}